// Colorvariables
$lysegrøn: #56ad57;
$mørkegrøn: #3a7d3c;
$blå: #547391;
$brun: #6354bf;

.wrapper {
  margin-inline: 10%;

  h1 {
    font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
  }

  p {
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    text-align: justify;
  }
}

.content__container {
  margin-top: 10%;
  p {
    text-align: center;
    margin-block: 5%;
  }
  .gradient__products_container,
  .white__products_container,
  .pen__products_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .background {
        padding: 0.4rem;
        background-color: #f3f3f3;
        border-radius: 6px;
      }
    }
    .span {
      grid-column: span 2;
    }
  }
  .pen__products_container {
    .background {
      height: 100%;
      img {
        width: 400px;
      }
    }
  }
  .plakat__container {
    width: 80%;
    margin-inline: auto;
    .products {
      display: flex;
      justify-content: center;
    }
    img {
      width: 70%;
    }
  }
}
